{% extends 'todoapp/base.html' %}
{% block title %}Task List{% endblock title %}
{% block body %}
<a href="{% url 'authentication:signup' %}">Sign Up</a>
{% if request.user.is_authenticated %}
{{ request.user }}
<a href="{% url 'authentication:logout' %}">Logout</a>
{% else %}
<a href="{% url 'authentication:login' %}">Login</a>
{% endif %}
    <h1>Task List </h1>
    <table>
        <tr>
            <th>Item</th>
            <th></th>
        </tr>
        <tr>
            {% for task in tasks %}
            <td>{{ task.title|title }}</td>
            <td><a href="{% url 'todoapp:taskdetail' task.id %}">View</a></td>
        </tr>
            {% empty %}
            <h1>No items on the list</h1>
            {% endfor %}
    </table>
    <button><a href="{% url 'todoapp:taskcreate' %}">Task Create</a></button>

{% endblock body %}